<div class="container" align=center>
  <h1 id="weigthTitle">Weigth Conversions</h1>

  <div class="column-left">
    <label for="kilograms">Kilograms</label><br>
    <input id="kilograms" name="kilograms" [(ngModel)]="kilo" placeholder="kilo" (keyup)="calc($event)" (focus)=clearAll()>
  </div>

  <div class="column-center">
    <label for="pounds">Pounds</label><br>
    <input type="text" id="pounds" name="pounds" [(ngModel)]="pound" placeholder="pound" (keyup)="calc($event)" (focus)=clearAll()>
  </div>

  <div class="column-right">
    <label for="stones">Stones</label><br>
    <input type="text" id="stones" name="stones" [(ngModel)]="stone" placeholder="stone" (keyup)="calc($event)" (focus)=clearAll()>  
  </div>
</div>
<br><br><br><br><br>
<div class="container">
    <div class="row">
        <h3 class="ind">Accuracy</h3>
        <div class="reg"> 
            <bdo>
                <input id="two_decimals" type="radio" name="radiogroup"
                [value]="entries[0].id"
                (change)="onSelectionChange(entries[0])"
              >
              <span></span>
              <abbr>{{ entries[0].description }}</abbr>
            </bdo>
        </div>
        <div class="reg">
            <bdo>
                <input id="three_decimals" type="radio" name="radiogroup"
                [value]="entries[1].id"
                (change)="onSelectionChange(entries[1])"
              >
              <span></span>
            <abbr>{{ entries[1].description }}</abbr>
            </bdo>
        </div>
        <div class="reg">
            <bdo>
                <input id="four_decimals" type="radio" name="radiogroup"
                [checked]="true"
                [value]="entries[2].id"
                (change)="onSelectionChange(entries[2])"
              >
              <span></span>
            <abbr>{{ entries[2].description }}</abbr>
            </bdo>
        </div>
</div>
</div>