.container {
	position: relative;
}

.column-left {
	width: 33%;
	left: 0;
	position: absolute;
}
.column-center {
	width: 34%;
	margin-left: 33%;
	position: absolute;
}
.column-right {
	width: 33%;
	right: 0;
	position: absolute;
}
label {
    display: inline-block;
    width: 3em;
    margin: .5em 0;
    color: #607D8B;
    font-weight: bold;
  }

input {
    text-align: center;
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
}

.row {
  margin-left: 37%;
}

.ind {
  margin-left: 15%;
}

.reg bdo {
  float: left;
  margin-bottom: 10px;
  position: relative;
  width: 15%;
}
.reg bdo input[type="radio"] {
    cursor: pointer;
    opacity: 0;
    height: 1em;
    position: relative;
    z-index: 999996;
}
.reg bdo span {
    border: 1px solid red;
    border-radius: 100%;
   /* background: rgba(0, 0, 0, 0) url("../images/radio_btn.png") no-repeat scroll center bottom;*/
    cursor: pointer;
    left: -2px;
    padding: 8px;
    position: absolute;
    top: 5px;
    z-index: 0;
}
.reg bdo span:hover {
    border: 1px solid black;
   /* background: rgba(0, 0, 0, 0) url("../images/radio_btn_ho.png") no-repeat scroll center bottom;*/
}
.reg bdo input[type="radio"]:checked + span {
   /* background: rgba(0, 0, 0, 0) url("../images/radio_btn_ho.png") no-repeat scroll center bottom;*/
}
.reg bdo input[type="radio"]:checked + span::after {
    background: #000 none repeat scroll 0 0;
    border-radius: 100%;
    bottom: 0;
    content: " ";
    height: 8px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 8px;
}