<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<div align="center">
  <button id="weigth" (click)="myEvent($event)">Weigth conversions</button>
  <button id="temperature" (click)="myEvent($event)">Temperature conversions</button>
  <button id="speed" (click)="myEvent($event)">Speed conversions</button>
</div>
<br>
<div *ngIf="currentConverter === 'weigth'"><app-weigth></app-weigth></div>
<div *ngIf="currentConverter === 'speed'"><app-speed></app-speed></div>
<div *ngIf="currentConverter === 'temperature'"><app-temperature></app-temperature></div>


